.tablesContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.manageContainer{
    border: 1px solid transparent;
    border-radius: 1rem;
    overflow: hidden;
}
.tableBody{
    overflow: scroll;
    overflow-x: hidden;
    
    max-height: 550px;
}
.tableBody::-webkit-scrollbar{
    display: none;
}
.headerNavbar{
    background-color: #064663;
}
.headerNavbar div a, .headerNavbar div{
    color: white !important;
}
.dropdown-menu{
    background: #0c1633;
}
.tableHead{
    background-color: #362F4B;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.4rem;
}
.tableHead h4{
    font-weight: 600;
    color: #fff;
}
.tableHead button{
    font-size: 13px;
}
.addImage{
    font-size: 24px;
}
.updateIcon,.deleteIcon{
    font-size: 20px;
    cursor: pointer;
}
.updateIcon{
    color: #F4C34A;
}
.deleteIcon{
    color:#E95B66;
    margin-left: 1rem;
}